.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.center-div {
  text-align: center;
  line-height: 1.6;
  padding: 180px;
}

.justify-center {
  justify-content: center;
}

.grid-2-col-3-row-btn {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 15px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-1-col-3-row-btn {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-2-col-4-row-btn {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-2-col-3-row {
  display: grid;
  grid-template-columns: 300px 220px;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-2-col-2-row-22 {
  display: grid;
  grid-template-columns: 300px 220px;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 200px 410px;
  grid-template-rows: 1fr;
  column-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-3-col {
  display: grid;
  grid-template-columns: 260px 150px 70px;
  grid-template-rows: 1fr;
  column-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid-3-col-2-row {
  display: grid;
  grid-template-columns: 300px 210px 70px;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas: "none none filter" "none none filter";
}

.item-1-col-2-row {
  grid-area: filter;
}

.grid-2-col-2-row {
  display: grid;
  grid-template-columns: 100px 50%;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: left;
  align-items: center;
}

.item-on-2nd-col {
  grid-column-start: 2;
}

.list-of-string {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item-span-2-cols {
  grid-column-start: 1;
  grid-column-end: 3;
}

.stickyHeader {
  position: "sticky";
  top: 0px;
}
